In [ ]:
# Loaded variable 'df' from URI: d:\Lymphography-XAI-Project\data\lymphography.csv
import pandas as pd
df = pd.read_csv(r'd:\Lymphography-XAI-Project\data\lymphography.csv')

In [ ]:
df.head()

,class,lymphatics,block_of_lymph_c,block_of_affere,bl_of_lymph_s,by_pass,extravasates,regeneration,early_uptake,lym_nodes_dimin,lym_nodes_enlar,changes_in_lym,defect_in_node,changes_in_node,changes_in_structure,special_forms,dislocation_of,exclusion_of,no_of_nodes
0,3,4,2,1,1,1,1,1,2,1,2,2,2,4,8,1,1,2,2
1,2,3,2,1,1,2,2,1,2,1,3,3,2,3,4,2,2,2,2
2,3,3,2,2,2,2,2,2,2,1,4,3,3,4,8,3,2,2,7
3,3,3,1,1,1,1,2,1,2,1,3,3,4,4,4,3,1,2,6
4,2,3,1,1,1,1,1,1,1,1,2,2,4,3,5,1,2,2,1

TypeError: 'tuple' object is not callable

In [ ]:
df.shape

(148, 19)

In [ ]:
df['class'].unique()